header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set the header to at least the height of the viewport */
    background-color: #f0f0f0; /* Change this to your desired background color */
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #ddd;
}

.hero-image {
    width: 100%;
    height: auto;
    background-image: url("../images/Logo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    max-width: 80%;
}
