header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: mulish, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #ddd;
}

.hero-image {
    background-image: url('../images/Logo.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}
.mobile_menu {
    display: none;
}

.mobile_menu > div {
    background-image: url(../images/menu.png);
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile_menu ul li {
    margin-bottom: 10px;
}

.mobile_menu ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Change the color as needed */
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s ease;
}

.mobile_menu ul li a:hover {
    background-color: #f0f0f0;
    color: #333333/* Change the hover background color as needed */
}

@media all and (max-width: 1023px) {
    nav {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .mobile_menu .mobile_nav {
        background-color: #000;
        height: 0;
        left: 0;
        list-style: none;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 3.8rem;
        transition: all .5s ease;
        width: 100%;
    }
    .mobile_menu .mobile_nav.active {
        height: 245px !important;
        overflow-y: scroll;
        z-index: 10000;
    }
}


