header {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2f2f2;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 20px;
    font-family: Popins, sans-serif;
}

nav ul {
    position: relative;
    left: 900px;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 20px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #ddd;
}
.hero-image {
    position: relative;
    top: -35px;
    background-image: url('../images/Logo.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

