#section6 {
    position: relative;
    top: 400px;
    height: 2100px;
    background: #F9F9F9;
}

#sec6Tittle {
    width: 80%;
    position: relative;
    left: 170px;
    top: 100px;
}

#sec6Tittle > h3 {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#sec6Tittle > span {
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
    position: relative;
}

.sec6Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    position: relative;
    left: 170px;
    top: 150px;
}

.sec6Container > div {
    background-color: #FFFFFF;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.sec6Container > div:nth-child(1) {
    background-image: url('../images/MyPortFolio.png');
    background-size: cover;
}

.sec6Container > div:nth-child(2) {
    background-image: url('../images/railwayProject.png');
    background-size: cover;
}

.sec6Container > div:nth-child(3),
.sec6Container > div:nth-child(4) {
    background-image: url('../images/newPF.png');
    background-size: cover;
}

.sec6Container > div:nth-child(5) {
    background-image: url('../images/ThogaKade.png');
    background-size: cover;
}

.sec6Container > div:nth-child(6) {
    background-image: url('../images/HostelMng.png');
    background-size: cover;
}

.sec6Container > div:before,
.sec6Container > div:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec6Container > div:before {
    background: rgba(255, 255, 255, 0.5); /* Initial background color */
    left: 0; /* Initial position */
    animation: seaUrchin 3s ease forwards;
    background-position: center; /* Image position */
}

.sec6Container > div:hover:before {
    animation: none; /* Disable animation on hove*/
    opacity: 1;
}

.sec6Container > div:after {
    background-color: rgba(255, 255, 255, 0.5); /* Initial background col*/
    right: 0;
    animation: seaUrchin 3s ease forwards;
    background-image: url('../images/Logo.png');
    background-position: center; /* Image position */
}

.sec6Container > div:hover:after {
    animation: none;
    opacity: 1;
}

@keyframes seaUrchin {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
