#section1{
    display: flex;
}

#section1>div{
    flex: 1;
    padding: 20px;
    text-align: center;
}

#myFirstImg{
    border-radius: 43% 57% 45% 55%/43% 30% 70% 57%;
    display: inline-block;
    height: 420px;
    width: 420px;
    vertical-align: middle;
}

#section1>div:nth-child(1){
    background-color: #F9F9F9;
}
#section1>div:nth-child(2){
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section1>div:nth-child(2)>div{
    padding: 20px;
}

#title{
    font-weight: 900;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-size: 63px;
    line-height: 1.1!important;
    margin-bottom: 20px;
    padding: 0;
}
