#section2{
    min-height: 70vh;
    display: flex;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    flex-direction: row;
}

#div1Sec02{
    width: 27%;
    position: relative;
    left: 300px;
    top: 100px;
}

#mySecondImgImg{
    width: 100%;
}

#div2Sec02{
    width: 27%;
    position: relative;
    left: 400px;
    top: 100px;
}

#div2Sec02>span{
}

