@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.swiper {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    animation: slideToLeft 10s infinite; /* Adjust the duration and timing function as needed */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.swiper-slide:nth-child(1) {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    object-fit: cover;

}

.swiper-slide:nth-child(2) {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.subDiv{
    display: flex;
    border: 1px solid #e1ebf7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    position: relative;
}
