#section4>div>span{
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
    position: relative;
}
#section4{
    background-color: #f9f9f9;
    position: relative;
    flex-direction: row;
    line-height: 30px;
    margin-top: 300px;
    height: 1200px;
}
#section4>div{
    width: 80%;
    position: relative;
    left: 170px;
    top: 100px;
}
#section4>div>h3{
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#section4>.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    position: relative;
    left: 170px;
    top: 150px;
}

.container > div {
    border: 1px solid #e1ebf7;
    background-color: #FFFFFF;
    height: 350px;
}

.container > div:nth-child(1)>div{
}

