#section5 {
    position: relative;
    width: 100%;
    top: 400px;
}

#section5 .image-container {
    width: 100%;
    background-image: url("../images/section5Img.jpg");
    height: 433px;
}


#section5 .image-front{
    display: flex;
    width: 100%;
    height: 433px;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: mulish, sans-serif;
}

#section5 .image-front>h3{
    color: #FFFFFF;
    font-size: 40px;
    display: block;
}

#section5 .image-front>p{
    color: #FFFFFF;
    display: block;
    font-size: 20px;
}

.section5Btn{
    animation: mover 1s infinite alternate;
    background-color: #FFFFFF;
    border: 2px solid #000;
    color: #000000;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
@media all and (min-width:320px) and (max-width: 767px){
     #section5 {
          position: relative;
          top: 500px;
     }
     #section5 .image-container {
          width: 100%;
          background-image: url("../images/section5Img.jpg");
          height: 433px;
     }
     #section5 .image-front{
          display: flex;
          width: 100%;
          height: 433px;
          background-color: #000000;
          opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-family: mulish, sans-serif;
     }
     #section5 .image-front>h3{
          color: #FFFFFF;
          font-size: 20px;
          display: block;
     }
     #section5 .image-front>p{
          color: #FFFFFF;
          display: block;
          font-size: 12px;
     }
     .section5Btn{
          animation: mover 1s infinite alternate;
          background-color: #FFFFFF;
          border: 2px solid #000;
          color: #000000;
          margin-top: 20px;
          display: inline-block;
          padding: 10px 30px;
          text-decoration: none;
          transition: all .3s ease;
          cursor: pointer;
          font-family: "Poppins", sans-serif;
     }
}