#section1{
    display: flex;
}

#section1>div{
    flex: 1;
    padding: 20px;
    text-align: center;
}

#myFirstImg{
    border-radius: 43% 57% 45% 55%/43% 30% 70% 57%;
    display: inline-block;
    height: 420px;
    width: 420px;
    vertical-align: middle;
}

#section1>div:nth-child(1){
    background-color: #F9F9F9;
}
#section1>div:nth-child(2){
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section1>div:nth-child(2)>div{
    padding: 20px;
}

#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    word-wrap: break-word;
    width: 500px;
    position: relative;
    left: 150px;
}
#title{
    font-weight: 900;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-size: 63px;
    line-height: 1.1!important;
    margin-bottom: 20px;
    padding: 0;
    font-family: Popins, sans-serif;
}

#titleSpan{
    color: #000;
    font-weight: 900;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000;
    font-size: 63px;
    line-height: 1.1!important;
}

#p {
    font-size: 17px;
    line-height: 1.5;
    font-family: mulish, sans-serif;
    text-align: left;
    word-wrap: break-word;
    color: #767676 !important;
    position: relative;
    left: -5px;
}

#liRolls{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: -5px;
}

#liRolls>li{
    color: #767676;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin-right: 19px;
    padding-left: 19px;
    position: relative;
}

#liRolls>li::after{
    background-color: initial;
    border: 1px solid #767676;
    border-radius: 50%;
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 29%;
    width: 13px;
}

