#section6{
    position: relative;
    top: 400px;
    height: 2100px;
    background: #F9F9F9;
}
#sec6Tittle{
    width: 80%;
    position: relative;
    left: 170px;
    top: 100px;
}
#sec6Tittle>h3{
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#sec6Tittle>span{
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
    position: relative;
}

.sec6Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    position: relative;
    left: 170px;
    top: 150px;
}

.sec6Container>div{
    background-color: #FFFFFF;
    height: 350px;
}

.sec6Container>div:nth-child(1){
    background-image: url('../images/MyPortFolio.png');
    background-size: cover;
}