#section2{
    min-height: 70vh;
    display: flex;
    width: 100vh;
}

#section2>div{
    flex: 1;
    padding: 20px;
    text-align: center;
    position: relative;
}

#section2>div:nth-child(1){
    width: 40%;
}

#mySecondImg{
    height: 420px;
    width: 420px;
}
