#section4>div>span{
    background-color: #f9f9f9;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
}
#section4{
    position: relative;
    background: #FFFFFF;
    flex-direction: row;
    line-height: 30px;
    margin-top: 300px;
    left: 150px;
}