@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-35%);
    }
    40% {
        transform: translateX(-67%);
    }
    60% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-135%);
    }
}

#section7>div>span {
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
}

#section7>div>h3 {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#section7>div:nth-child(1){
    position: relative;
    top: 500px;
    left: 150px;
}
.swiper {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;
    top: 500px;
}

.swiper-wrapper {
    display: flex;
    animation: slideToLeft 8s infinite;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.swiper-slide:nth-child(1) {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    object-fit: cover;

}

.swiper-slide:nth-child(2) {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.subDiv{
    display: flex;
    border: 1px solid #e1ebf7;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 55%;
    position: relative;
}

.sec7Img{
    border-radius: 100%;
    display: inline;
    position: relative;
    left: -120px;
    top: -10px;
    width: 50px;
    height: 50px;
}

.subDiv>div>h3{
    position: relative;
    top: -80px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Popins", sans-serif;
}
.subDiv>div>p{
    position: relative;
    top: -95px;
    font-size: 16px;
    font-weight: 300;
    font-family:mulish, sans-serif;
    color: #767676;
}

.subDiv>div{
    position: relative;
    top: 70px;
    left: 10px;
    width: 200px;
    height: 70px;
}

.subDiv>div{
    position: relative;
    top: 70px;
    left: 10px;
    width: 200px;
    height: 70px;
}

.subDiv>p{
    position: relative;
    top: 70px;
    width: 80%;
    font-family: mulish, sans-serif;
    color: #767676;
    font-size: 16px;
}
@media all and (min-width:1024px) and (max-width: 1439px){
    .subDiv>div{
        position: relative;
        top: 70px;
        left: 10px;
        width: 170px;
        height: 70px;
    }
    .subDiv>div>h3{
        font-size: 14px;
    }

    .subDiv>div>p{
        font-size: 12px;
    }
    .sec7Img{
        width: 40px;
        height: 40px;
        left: -90px;
        top: -30px;
    }


    #section7{
        position: relative;
        top: 100px;
    }
    #section7>div:nth-child(1){
        width: 500px;
        left: 100px;
    }
}