#section2{
    min-height: 70vh;
    display: flex;
    width: 100%;
    position: relative;
    background: #FFFFFF;
}

#div1Sec02{
    width: 27%;
    position: relative;
    left: 150px;
    top: 100px;
}

#mySecondImgImg{
    width: 100%;
}