#section3 {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#section3>div {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
}

#section3>div:nth-child(1) {
    background-image: url('../images/briefing.png');
    background-size: cover;
}

#section3>div:nth-child(2) {
    background-image: url('../images/client.png');
    background-size: cover;
}

/*#0000005C*/