#section1{
    display: flex;
    min-height: 100vh;
    position: relative;
    top: -30px;
}

#section1>div{
    flex: 1;
    padding: 20px;
    text-align: center;
}

#myFirstImg{
    border-radius: 43% 57% 45% 55%/43% 30% 70% 57%;
    display: inline-block;
    height: 420px;
    width: 420px;
    vertical-align: middle;
}

#section1>div:nth-child(1){
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section1>div:nth-child(2){
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1>div:nth-child(2)>div{
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    word-wrap: break-word;
    font-family: mulish,sans-serif!important;
    font-size: 16px;
    line-height: 30px!important;
    margin: auto;
}


#div1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    word-wrap: break-word;
    width: 500px;
    position: relative;
    left: 150px;
    justify-content: center;

}
#title{
    font-weight: 900;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-size: 63px;
    line-height: 1.1!important;
    padding: 0;
    font-family: Popins, sans-serif;
    margin: 0;
}

#titleSpan{
    color: #000;
    font-weight: 900;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000;
    font-size: 63px;
    line-height: 1.1!important;
}

#p {
    font-size: 16px;
    line-height: 1.5;
    font-family: mulish, sans-serif;
    text-align: left;
    word-wrap: break-word;
    color: #767676 !important;
    position: relative;
    left: -20px;
}

#liRolls{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: -50px;
}

#liRolls>li{
    color: #767676;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin-right: 19px;
    padding-left: 19px;
    position: relative;
    margin-bottom: 10px;
}

#liRolls>li::after{
    background-color: initial;
    border: 1px solid #767676;
    border-radius: 50%;
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 10%;
    width: 13px;
}





#sec1SocialLink{
    display: block;
    position: relative;
    left: -100px;
    top: 5px;
}

#sec1SocialLink>li{
    display: inline-block;
    margin-right: 14px;
    list-style-type: none;
}

#sec1SocialLink>li>a{
    background: #000;
    border: 2px solid #000;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: .5s;
    width: 45px;
}
#sec1SocialLink>li>a:hover{
    background: #FFFFFF;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: .5s;
    width: 45px;
}
.fa-brands{
    font-family: Font Awesome\ 6 Brands;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    text-rendering: auto;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-size: 16px;
}

.fa-facebook:before{
    content: "\f16d";
}

.fa-github:before{
    content: "\f113";
}

.fa-instagram:before{
    content: "\f16d";
}

.fa-linkedin:before{
    content: "\f16d";
}

.fa-twitter:before{
    content: "\f16d";
}

.icon_2 {
    right: 0;
    animation: mover 1s infinite alternate;
    position: absolute;
    top: 0;
    width: 100px;
}

.icon_1 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    position: absolute;
    top: 0;
    width: 100px;
    left: 48px;
}

.icon_3 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    position: absolute;
    left: 80px;
    top: 350px;
    width: 100px;
    display: block;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.experience {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 9px 0 16px rgba(0,0,0,.06);
    font-size: 14px;
    padding: 5px 15px;
    right: 0;
    animation: mover 1s infinite alternate;
    bottom: 0;
    position: absolute;
}

.experience span{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

@media all and ( min-width:1025px)