#section3
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#section3>div {
    width: 100px;
    height: 100px;
    background: #333333;
}