#section4>div>span{
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
    position: relative;
}
#section4{
    background-color: #f9f9f9;
    position: relative;
    flex-direction: row;
    line-height: 30px;
    margin-top: 300px;
    height: 1200px;
}
#section4>div{
    width: 80%;
    position: relative;
    left: 170px;
    top: 100px;
}
#section4>div>h3{
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#section4>.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    position: relative;
    left: 170px;
    top: 150px;
}

.container > div {
    border: 1px solid #e1ebf7;
    background-color: #FFFFFF;
    height: 350px;
}

.container > div:nth-child(1)>div{
    background-image: url('../images/img.png');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.container > div:nth-child(2)>div{
    background-image: url('../images/img_1.png');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.container > div:nth-child(3)>div{
    background-image: url('../images/img_2.png');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.container > div:nth-child(4)>div{
    background-image: url('../images/img_3.jpg');
    background-size: cover;
    width: 80px;
    height: 70px;
}
.container > div:nth-child(5)>div{
    background-image: url('../images/img_4.png');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.container > div:nth-child(6)>div{
    background-image: url('../images/img_5.png');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.container > div>div{
    position: relative;
    top: 20px;
    left: 37%;
}


.container > div>h3{
font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    top: -50px;
    left: -10px;
}
