#section6 {
    position: relative;
    top: 400px;
    height: 2100px;
    background: #F9F9F9;
}

#sec6Tittle {
    width: 80%;
    position: relative;
    left: 170px;
    top: 100px;
}

#sec6Tittle > h3 {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

#sec6Tittle > span {
    background-color: #ECECEC;
    color: #767676;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px 19px;
    font-size: 16px;
    position: relative;
}

.sec6Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    position: relative;
    left: 170px;
    top: 150px;
}
.sec6Container > div {
    width: 300px;
    height: 250px;
    transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    transition: 0.6s ease transform;
    background-image: url("../images/MyPortFolio.png");
    background-size: cover;
    &:hover {
        transform: scale(1);
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease;
    }

    &::before {
        transform: translateZ(4rem);
        border: 5px solid #000000;
    }

    &::after {
        transform: translateZ(-4rem);
        background: #000000;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }

    &:hover::before {
        transform: translateZ(0);
    }

    &:hover::after {
        transform: translateZ(-1px);
    }
}

.invisible {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) to control opacity */
}


/*.sec6Container > div:nth-child(1) {*/
/*    background-image: url('../images/MyPortFolio.png');*/
/*    background-size: cover;*/
/*}*/

/*.sec6Container > div:nth-child(2) {*/
/*    background-image: url('../images/railwayProject.png');*/
/*    background-size: cover;*/
/*}*/

/*.sec6Container > div:nth-child(3),*/
/*.sec6Container > div:nth-child(4) {*/
/*    background-image: url('../images/newPF.png');*/
/*    background-size: cover;*/
/*}*/

/*.sec6Container > div:nth-child(5) {*/
/*    background-image: url('../images/ThogaKade.png');*/
/*    background-size: cover;*/
/*}*/

/*.sec6Container > div:nth-child(6) {*/
/*    background-image: url('../images/HostelMng.png');*/
/*    background-size: cover;*/
/*}*/

/*.sec6Container > div:before,*/
/*.sec6Container > div:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/
/*.sec6Container > div:before {*/
/*    background: rgba(255, 255, 255, 0.5);*/
/*    left: 0;*/
/*    animation: seaUrchin 3s ease forwards;*/
/*    background-position: center;*/
/*    content: "Your text here";*/
/*    text-align: center;*/
/*    color: #333;*/
/*    font-size: 24px;*/
/*    font-family: "Arial", sans-serif;*/
/*    line-height: 1.5;*/
/*    padding: 20px;*/
/*    box-sizing: border-box;*/
/*    z-index: 3;*/
/*    pointer-events: none;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/

/*.sec6Container > div:hover:before {*/
/*    animation: none;*/
/*    opacity: 1;*/
/*}*/

/*.sec6Container > div:after {*/
/*    background-color: rgba(255, 255, 255, 0.5);*/
/*    right: 0;*/
/*    animation: seaUrchin 3s ease forwards;*/
/*    background-image: url('../images/Logo.png');*/
/*    background-position: center;*/
/*    background-size: 50%;*/
/*}*/

/*.sec6Container > div:hover:after {*/
/*    animation: none;*/
/*    opacity: 1;*/
/*}*/

@keyframes seaUrchin {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
@media all and (min-width:1024px) and (max-width: 1439px){
    #section6 {
        position: relative;
        top: 500px;
        height: 900px;
    }

    #sec6Tittle {
        width: 80%;
        position: relative;
        left: 100px;
    }

    #section6>.sec6Container {
        width: 80%;
        position: relative;
        left: 100px;
        top: 150px;
    }

    #section6>.sec6Container > div {
        height: 250px;
        width: 250px;
    }
}
@media all and (min-width:768px) and (max-width: 1023px){
    #section6>.sec6Container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #section6{
        position: relative;
        top: 600px;
        height: 1200px;
    }

    #section6>div:nth-child(1){
        width: 80%;
        position: relative;
        left: 80px;
    }

    #section6>.sec6Container {
        width: 80%;
        position: relative;
        left: 80px;
        top: 150px;
    }

    #section6>.sec6Container > div{
        width: 270px;
        height: 250px;
    }
}

@media all and (min-width:320px) and (max-width: 767px){
    #section6>.sec6Container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #section6{
        position: relative;
        top: 900px;
        height: 2100px;
    }

    #section6>div:nth-child(1){
        width: 80%;
        position: relative;
        left: 30px;
    }

    #section6>.sec6Container {
        width: 80%;
        position: relative;
        left: 30px;
        top: 150px;
    }

    #section6>.sec6Container > div{
        height: 250px;
        width: 250px;
    }
}